* {
	-fx-panel-button-color: #2E5266;
	-fx-select-selection-color: #FF6A33;
}

.close-button{
	-fx-background-image: url("../images/buttons/close.png");
	-fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.settings-button{
	-fx-background-image: url("../images/buttons/settings.png");
	-fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.main-panel {
	-fx-background-image: url("../images/background.png"); 
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: -fx-select-selection-color;
     -fx-background-color: -fx-select-selection-color;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
	-fx-background-color: -fx-select-selection-color;
}
