* {
	-fx-panel-button-color: #2E5266;
}

.close-button{
	-fx-background-image: url("../images/buttons/close.png");
	-fx-background-color: #36566f;
}

.main-panel {
	-fx-background-image: url("../images/background.png"); 
}

