* {
	-fx-panel-button-color: #2E5266;
}

.close-button{
	-fx-background-image: url("../images/buttons/close.png");
	-fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.settings-button{
	-fx-background-image: url("../images/buttons/settings.png");
	-fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.main-panel {
	-fx-background-image: url("../images/background.png"); 
}

